<div class="card">
  <div class="card-header">{{title}}</div>
  <div class="card-body">
    <h5 class="card-title">Posted: {{format_date created_at}} {{format_time created_at}}</h5>
    <p class="card-text">{{content}}</p>
  </div>
</div>