<section class = "post">
    <div class = "container justify-content-center">
        <div class="col-12">
            {{#each homepagePosts as |post|}}
                {{> home-partial post}}
            {{/each}}
        </div>
    </div>
<section>
