<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="page-title">Make a Comment!</h2>
    <form class="form comment-form">
      <div class="form-group">
        <label for="comment">Comment:</label>
      </div>
      <textarea name= "comment"></textarea>
      <div class="form-group">
        <button id="comment-btn" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/comment.js"></script>